@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;300;700;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@import './vars.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Rokkitt, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

body {
  background-color: var(--color-ocre);
}

.bb {
  border-bottom: 1px solid #ccc;
}

.part {
  margin-bottom: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
}

/*button*/
.btn {
  border-radius: 4px;
  margin-top:20px;
  text-align: center;
  display:block;
}

.btn-lg {
  width: 100%;
}

.btn.btn-success {
  padding: 12px 0;  
  color: white;
  background-color: rgba(86, 185, 45,1);
  transition: all .3s;
}

.btn.btn-success:hover {
  background-color: rgba(86, 185, 45, .8);
}

.btn-show {
  background-color: rgba(86, 185, 45, 1);
  color: white;
  transition: all .3s;
}

.btn-show:hover {
  background-color: rgba(86, 185, 45, .8);
}

.btn-edit {
  color: white;
  background-color: rgba(255, 212, 0, 1);
  transition: all .3s;
}

.btn-edit:hover {
  background-color: rgba(255, 212, 0, .8);
  color:white;
}

.btn-delete {
  background-color: rgba(200, 20, 20,1);
  color: white;
  transition: all .3s;
}

.btn-delete:hover {
  background-color: rgba(200, 20, 20, .8);
}

.btn i {
  padding-right: 5px ;
}

.table {
  text-align: left;
  border:0;
}

.table td {
  background: white;
  border: 0;
  padding: 5px 12px;
}

.table tr:nth-of-type(even) td {
  background: #ccc;
}

.table .btn {
  display: inline-block;
  margin-top:0;
}